@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* slider--------------------------- */
.mySlides {
    display: none;
}

.slidesw {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }
    
@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}



/* Navigation bar */

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #E2E8F0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 3rem;
}

.nav-link {
    font-size: 1rem;
    font-weight: 600;
    color: #475569;
}

.nav-link:hover {
    color: #318ff3;
}

.nav-logo {
    font-size: 1.3rem;
    font-weight: 700;
    color: #318ff3;
}

.searchBox {
    display: flex;
    max-width: 200px;
    max-height: 50px;
    align-items: center;
    justify-content: space-between;
    /* gap: 8px; */
    background: #f0f3f8;
    border-radius: 50px;
    position: relative;
}

.searchButton {
    color: white;
    position: absolute;
    right: 8px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--gradient-2, linear-gradient(90deg, #0123a0 0%, #318ff3 100%));
    border: 0;
    display: inline-block;
    /* transition: all 300ms cubic-bezier(.23, 1, 0.32, 1); */
}

/*hover effect*/
button:hover {
    cursor: pointer;
}

/*button pressing effect*/
button:active {
    box-shadow: none;
    transform: translateY(0);
}

.searchInput {
    border: none;
    background: none;
    outline: none;
    color: black;
    font-size: 15px;
    padding: 24px 0px 24px 26px;
}


@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 3rem;
        flex-direction: column;
        background-color: #fff;
        z-index: 1;
        width: 100%;
        border-radius: 0px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);       
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


}